*,
*::before,
*::after {
    box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

/*    TYPOGRAPHY    */

.title {
    font-family: 'Playfair Display', serif;
}

.header-title {
    color: #fff;
    font-size: 4em;
    font-weight: 800;
}

.pokemon-form-input {
    background-color: #FFBB00;
    font-weight: 800;
    font-family: 'Playfair Display', serif;
    font-size: 1.2em;
    text-align: center;
    border-radius: 15px;
    border: none;
    padding: .6em;
}

.data-container-title {
    font-size: 1.7em;
    text-transform: capitalize;
    color: #000E52;
    font-weight: 500;
}

.li {
    font-family: 'Gideon Roman', cursive;
    color: #3b3480;
}

.info-title {
    color: #000E52;
    font-weight: 500;
}

.sprite-container-text {
    color: #000E52;
}



/*    HEADER    */
.header {
    background-color: rgba(0,0,0,.5);
    background-image: url('Background images/bg\ 1.png');
    background-blend-mode: multiply;
    text-align: center;
    padding: 3em;
}

/*    FRON PART   */
.main {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow-x: clip;
    }


.front {
    height: 100%;
    width: 100%;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}

.left {
    height: 100%;
    width: 50%;
    background-color: #DC0A2D;
    border-right: 10px solid #FFBB00;
    transition: transform 1s ease-in-out;
}

.right {
    height: 100%;
    width: 50%;
    background-color: #DC0A2D;
    border-left: 10px solid #FFBB00;
    transition: transform 1s ease-in-out;
}

.left-animation {
transform: translateX(-100%);
}

.right-animation {
    transform: translateX(100%);
}

.pokemon-form {
    display: flex;
    flex-direction: column;
    gap: .7em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    
}


.pokemon-form-button {
    font-family: 'Playfair Display', serif;
    background-color: #FFBB00;
    font-size: 2em;
    padding: .1em 0;
    border-radius: 10px;
    border: none;
}

.pokemon-form-button:hover {
    transform: scale(1.1);
}

.pokemon-form-animate {
    opacity: 0;
}
/*    BACK PART */
    
.data-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.1em;
    background-color: #A8AABC;
    padding: 1.3em;
    
}

.img-container {
    width: 8em;
    height: auto;
}

.info-container {
    width: 100%;
    display: flex;
    gap: 5em;
    justify-content: center;
    margin-top: 1em;
    position: relative;
}

.info-container::before,
.info-container::after {
    position: absolute;
    content: "";
}

.info-container::before {
    top: -2.2em;
    bottom: 0;
    left: 0;
    right: 0;
    height: 300px;
    border: 1px solid #3b3480;
}

.info-container::after {
    top: -1.5em;
    bottom: -3.5em;
    left: .8em;
    right: .8em;
    border: 3px solid #3b3480;
}

.sprite-container {
    margin-top: 5em;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.sprite-img {
    border-radius: 50%;
}

.reset-button {
    font-family: 'Playfair Display', serif;
    background: none;
    border: none;
    font-size: 1.2em;
    color: #3b3480;

}


/*    MEDIA QUERIES!!!    */

@media screen and (max-width: 768px) {

    /*   FRONT PART   */

    .header-title {
        font-size: 2em;
    }

    .front {
        flex-direction: column;
    }

    .left {
        height: 50%;
        width: 100%;
        border-bottom: 10px solid #FB0;
        border-right: none;
    }

    .right {
        height: 50%;
        width: 100%;
        border-top: 10px solid #FB0;
        border-left: none;
    }

     .pokemon-form {
        transform: translate(-50%, -50%);
        gap: 2em;
    } 

    /*   BACK PART   */

    .data-container {
        height: 100%;
    }

    .info-container {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        text-align: center;
        padding: 0 2.1em;
    }

    .info-container::before {
    height: 125%;
   }

    .types-container {
    order: 1;
   }

   .stats-container {
    order: 2;
   }

   .taught-moves-container {
    order: 3;
   }

   .learnt-moves-container {
    order: 4;
   }

}